<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <link rel="stylesheet"  href="{{ asset('css/przyciski.css') }}">
    <link rel="stylesheet"  href="{{ asset('css/budowaStrony.css') }}" >
    <link rel="stylesheet"  href="{{ asset('css/stronaUzytkownika.css') }}" >
    <link rel="stylesheet"  href="{{ asset('css/stronaKontrahenci.css') }}" >


    <link rel="stylesheet"  href="{{ asset('css/uwierzytelnienie.css') }}" media="screen">

    <title>Strona Użytkownika</title>
</head>
<body>


<section>
    <header>
        {% include 'globalHtml/naglowek.html.twig' %}
    </header>
    <nav>
        {% include 'globalHtml/menuGorne.html.twig' %}
    </nav>
    <aside>
        {% include 'globalHtml/menuBoczneBudynki.html.twig' %}
    </aside>
    <main>
        <input style="display: none" id="baseUrl" type="text" value={{ baseUrl }} />

        <div id="glownaSekcjaMain">
            <div id="tytulSekcji"> Kontrahenci</div>
            <form id="formKontrahenci">

                <div id="tableRaport">
                    <table class="reportTable">
                        <thead>
                            <tr>
                                <th>AAAAA</th>
                                <th>AAAAA</th>
                                <th>AAAAA</th>
                                <th>AAAAA</th>
                                <th>AAAAA</th>
                                <th>AAAAA</th>
                                <th>AAAAA</th>
                                <th>AAAAA</th>
                                <th>AAAAA</th>
                                <th>AAAAA</th>
                                <th>AAAAA</th>
                                <th>AAAAA</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <th scope="row">bbb</th>
                                <td>ttt</td>
                                <td>ttt</td>
                                <td>ttt</td>
                                <td>ttt</td>
                                <td>ttt</td>
                                <td>ttt</td>
                                <td>ttt</td>
                                <td>ttt</td>
                                <td>ttt</td>
                                <td>ttt</td>
                                <td>ttt</td>
                            </tr>
                        </tbody>
                    </table>

                </div>


            </form>

        </div>
    </main>
    <footer>
        Footer
    </footer>
</section>

</body>
</html>