<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <link rel="stylesheet"  href="{{ asset('css/przyciski.css') }}">
    <link rel="stylesheet"  href="{{ asset('css/budowaStrony.css') }}" >
    <link rel="stylesheet"  href="{{ asset('css/stronaUzytkownika.css') }}" >
    <link rel="stylesheet"  href="{{ asset('css/przyciski.css') }}" >

    <link rel="stylesheet"  href="{{ asset('css/uwierzytelnienie.css') }}" media="screen">
{#    <script src="{{ asset('js/rejestracja.js') }}" async></script>#}

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css"
          integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">

{#    <script src="{{ asset('js/rejestracja.js') }}" async></script>#}
    <script src="{{ asset('js/stronaUzytkownika.js') }}" async></script>

    <title>Strona Użytkownika</title>
</head>
<body>

<section>
    <header>
        {% include 'globalHtml/naglowek.html.twig' %}
    </header>
    <nav>
        {% include 'globalHtml/menuGorne.html.twig' %}
    </nav>
    <aside>
        {% include 'globalHtml/menuBoczneUzytkownika.html.twig' %}
    </aside>
    <main>


        <input style="display: none" id="baseUrl" type="text" value={{ baseUrl }} />

       <div id="glownaSekcjaMain">
           <div id="tytulSekcji"> Dane użytkownika</div>
           <form id="formUzytkownik" >

               <div id="dostosujPole">
                   <div class="field-wrapper">
                       <input  class="daneUzytkownika" type="text" id="nazwaUzytkownika" placeholder=" " value="{{ daneUzytkownikaArr.NazwaUzytkownika }}" disabled="disabled"/>
                       <div class="field-placeholder"><span>Nazwa użytkownika</span></div>
                   </div>
                   <div class="field-wrapper">
                       <input  class="daneUzytkownika" type="text" id="imie" placeholder=" " value="{{ daneUzytkownikaArr.Imie }}" disabled="disabled"/>
                       <div class="field-placeholder"><span>Imię</span></div>
                   </div>
                   <div class="field-wrapper">
                       <input  class="daneUzytkownika" type="text" id="nazwisko" placeholder=" " value="{{ daneUzytkownikaArr.Nazwisko }}" disabled="disabled" />
                       <div class="field-placeholder"><span>Nazwisko</span></div>
                   </div>
                   <div class="field-wrapper">
                       <input  class="daneUzytkownika" type="text" id="email" placeholder=" " value="{{ daneUzytkownikaArr.Email }}" />
                       <div class="field-placeholder"><span>e-mail</span></div>
                   </div>
                   <div class="field-wrapper">
                       <input  class="numerTelefonu" type="text" id="telefon" placeholder=" " value="{{ daneUzytkownikaArr.NumerTelefonu }}" />
                       <div class="field-placeholder"><span>Numer telefonu</span></div>
                   </div>
                   <div class="container1" style="margin-left:-18%">
                       <div class="btn1" style="width: 50%">
                           <button id="edycjaDanych" type ="button">Edytuj dane</button>
                       </div>
                   </div>
               </div>

               <div id="zdjecie">

                   <p id="image_drop_area_text">przeciągnij lub dodaj swoje zdjęcie</p>
                   <div id="image_drop_area"><output id="list"> </output></div>
                   <p id="file_name"></p>

                   {# tutajj wpada adres foto drag and drop #}
                   <input style="display: none" type="text" id="filesDropAndDrag" name="filesDropAndDrag"  multiple />

                   <img alt=""  src="{{ daneUzytkownikaArr.Zdjecie }}" />

                   {# tutaj wpada adres foto otwórz plik - chyba #}
                   <input type="file" id="files" name="files[]" multiple />
               </div>



           </form>

       </div>

    </main>
    <footer>
        Footer
    </footer>
</section>

</body>
</html>