<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

{#    <link rel="stylesheet"  href="{{ asset('css/uwierzytelnienie.css') }}" media="screen">#}
{#    <link rel="stylesheet"  href="{{ asset('css/elementyWspolne.css') }}" media="screen">#}
    <link rel="stylesheet"  href="{{ asset('css/przyciski.css') }}">
    <link rel="stylesheet"  href="{{ asset('css/budowaStrony.css') }}" >
    <link rel="stylesheet"  href="{{ asset('css/stronaUzytkownika.css') }}" >
    <link rel="stylesheet"  href="{{ asset('css/przyciski.css') }}" >
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css"
          integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">

    <script src="{{ asset('js/rejestracja.js') }}" async></script>

    <title>Strona Użytkownika</title>
</head>
<body>

<section>
    <header>
        {% include 'globalHtml/naglowek.html.twig' %}
    </header>
    <nav>
        {% include 'globalHtml/menuGorne.html.twig' %}
    </nav>
    <aside>
        {% include 'globalHtml/menuBoczneUzytkownika.html.twig' %}
    </aside>
    <main>


       <div id="glownaSekcjaMain">
           <div id="tytulSekcji"> Dane użytkownika</div>
           <form id="formUzytkownik">



               <div id="dostosujPole">
                   <div class="field-wrapper">
                       <input  class="daneUzytkownika" type="text" name="nazwaUzytkownika" placeholder=" " value={{ daneUzytkownikaArr.IdUzytkownika }} />
                       <div class="field-placeholder"><span>Nazwa użytkownika</span></div>
                   </div>
                   <div class="field-wrapper">
                       <input  class="daneUzytkownika" type="text" name="imie" placeholder=" " value="" />
                       <div class="field-placeholder"><span>Imię</span></div>
                   </div>
                   <div class="field-wrapper">
                       <input  class="daneUzytkownika" type="text" name="nazwisko" placeholder=" " value="" />
                       <div class="field-placeholder"><span>Nazwisko</span></div>
                   </div>
                   <div class="field-wrapper">
                       <input  class="daneUzytkownika" type="text" name="e-mail" placeholder=" " value="" />
                       <div class="field-placeholder"><span>e-mail</span></div>
                   </div>
                   <div class="container1" style="margin-left:-18%">
                       <div class="btn1" style="width: 50%">
                           <button  type ="submit">Edytuj dane</button>
                       </div>
                   </div>
               </div>

               <div id="zdjecie">


               </div>

           </form>










       </div>


    </main>
    <footer>
        Footer
    </footer>
</section>

</body>
</html>