<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <link rel="stylesheet"  href="{{ asset('css/przyciski.css') }}">
    <link rel="stylesheet"  href="{{ asset('css/budowaStrony.css') }}" >
    <link rel="stylesheet"  href="{{ asset('css/elementyWspolne.css') }}" >
    <link rel="stylesheet"  href="{{ asset('css/stronaZgloszenia.css') }}" >
    <link rel="stylesheet"  href="{{ asset('css/ikonki.css') }}" >
    <script src="{{ asset('js/stronaZgloszenia.js') }}" async></script>

    <title>Strona Zgłoszenia</title>
</head>
<body>

<section>
    <header>
        {% include 'globalHtml/naglowek.html.twig' %}
    </header>
    <nav>
        {% include 'globalHtml/menuGorne.html.twig' %}
    </nav>
    <aside>
        {% include 'globalHtml/menuBoczne.html.twig' %}
    </aside>
    <main>
        <input style="display: none" id="baseUrl" type="text" value={{ baseUrl }} />

        <div id="glownaSekcjaMain">

            <div class="sekcjaFiltrow" >
                <form>
                    <div style="width:10vw;float: left">
                        <div class="field-wrapper" >
                            <input  class="filtrKontrahent" type="text" id="nazwaFiltr" placeholder=" " value="" />
                            <div class="field-placeholder"><span>Nazwa</span></div>
                        </div>
                    </div>
                    <div style="width:10vw;float: left">
                        <div class="field-wrapper" >
                            <input  class="filtrKontrahent" type="text" id="nipFiltr" placeholder=" " value="" />
                            <div class="field-placeholder"><span>NIP</span></div>
                        </div>
                    </div>
                    <div style="width:10vw;float: left">
                        <div class="field-wrapper" >
                            <select class="filtrKontrahent" id="podmiotFiltr">
                                <option selected="selected" disabled>--wybierz--</option>
{#                                {% for podmiot in podmiotArr %}#}
                                    <option id="podmiotOpcjeEdycja" value="xx">xx</option>
{#                                {% endfor %}#}
                            </select>
                            <div class="field-placeholder"><span>Podmiot</span></div>
                        </div>
                    </div>
                    <div style="width:10vw;float: left">
                        <div class="field-wrapper" >
                            <input  class="filtrKontrahent" type="text" id="nazwaFiltr" placeholder=" " value="" />
                            <div class="field-placeholder"><span>Nazwa</span></div>
                        </div>
                    </div>
                    <div style="width:10vw;float: left">
                        <div class="field-wrapper" >
                            <input  class="filtrKontrahent" type="text" id="nipFiltr" placeholder=" " value="" />
                            <div class="field-placeholder"><span>NIP</span></div>
                        </div>
                    </div>

                    <div style="clear: both"></div>

                    <div style="width:10vw;float: left">
                        <div class="field-wrapper" >
                            <select class="filtrKontrahent" id="podmiotFiltr">
                                <option selected="selected" disabled>--wybierz--</option>
                                {#                                {% for podmiot in podmiotArr %}#}
                                <option id="podmiotOpcjeEdycja" value="xx">xx</option>
                                {#                                {% endfor %}#}
                            </select>
                            <div class="field-placeholder"><span>Podmiot</span></div>
                        </div>
                    </div>
                    <div style="width:10vw;float: left">
                        <div class="field-wrapper" >
                            <input  class="filtrKontrahent" type="text" id="nazwaFiltr" placeholder=" " value="" />
                            <div class="field-placeholder"><span>Nazwa</span></div>
                        </div>
                    </div>
                    <div style="width:10vw;float: left">
                        <div class="field-wrapper" >
                            <input  class="filtrKontrahent" type="text" id="nipFiltr" placeholder=" " value="" />
                            <div class="field-placeholder"><span>NIP</span></div>
                        </div>
                    </div>
                    <div style="width:10vw;float: left">
                        <div class="field-wrapper" >
                            <select class="filtrKontrahent" id="podmiotFiltr">
                                <option selected="selected" disabled>--wybierz--</option>
                                {#                                {% for podmiot in podmiotArr %}#}
                                <option id="podmiotOpcjeEdycja" value="xx">xx</option>
                                {#                                {% endfor %}#}
                            </select>
                            <div class="field-placeholder"><span>Podmiot</span></div>
                        </div>
                    </div>

                    <div class ="filtrButtonWyczysc" >
                        <button style="" id="wyczysc" type ="reset"><svg class="wyczyscIcons"></svg></button>
                    </div>

                </form>
            </div>

            <div class="sekcjaZgloszenia" >
                <table class="tabelaZgloszenia" style="">
                    <thead>
                    <tr>
                        <th class="thZgloszenia" style="" scope="row">Nr</th>
                        <th class="thZgloszenia" style="">IdKlienta</th>
                        <th class="thZgloszenia" style="">IdAdres</th>
                        <th class="thZgloszenia" style="">IdKategoria</th>
                        <th class="thZgloszenia" style="">IdPriorytet</th>
                        <th class="thZgloszenia" style="">Nr lokalu</th>
                        <th class="thZgloszenia" style="">IdStatus</th>
                        <th class="thZgloszenia" style="">Opis</th>
                        <th class="thZgloszenia" scope="row">Data dodania</th>
                        <th class="thZgloszenia" scope="row">Planowana realizacja</th>
                        <th class="thZgloszenia" scope="row">Adres</th>
                        <th class="thZgloszenia" scope="row">Klient</th>
                        <th class="thZgloszenia" scope="row">Wykonawca</th>
                        <th class="thZgloszenia" scope="row">Kategoria</th>
                        <th class="thZgloszenia" scope="row">Priorytet</th>
                        <th class="thZgloszenia" scope="row">Status</th>
                    </tr>
                    </thead>
                    <tbody class="zgloszeniaTbody">
                    {% for zgloszenia in zgloszeniaArr %}
                        <tr class="zgloszeniaTbodyTr">
                            <th style="width:4%" class="IdZgloszeniaTab" scope="row">{{ zgloszenia.IdZgloszenia }}</th>
                            <td style="width:4%" class="IdKlientaTab">{{ zgloszenia.IdKlienta }}</td>
                            <td style="width:4%" class="IdAdresTab">{{ zgloszenia.IdAdres }}</td>
                            <td style="width:4%" class="IdKategoriaTab">{{ zgloszenia.IdKategoria }}</td>
                            <td style="width:4%" class="IdPriorytetTab">{{ zgloszenia.IdPriorytet }}</td>
                            <td style="width:4%" class="nrLokaluTab">{{ zgloszenia.DokladnaLokalizacja }}</td>
                            <td style="width:4%" class="IdStatusTab">{{ zgloszenia.IdStatus }}</td>
                            <td style="width:4%" class="opisTab">{{ zgloszenia.Opis }}</td>
                            <td style="width:8%"  class="dataZgloszeniaTab" >{{ zgloszenia.DataDodania }}</td>
                            <td style="width:15%" class ="planowanaRealizacjaTab">{{ zgloszenia.PlanowanaRealizacja }}</td>
                            <td style="width:15%" class="adresTab">{{ zgloszenia.Adres }}</td>
                            <td style="width:15%" class="klientTab">{{ zgloszenia.Nazwa }}</td>
                            <td style="width:10%" class="wykonawcaTab">{{ zgloszenia.Wykonawca }}</td>
                            <td style="width:10%" class="kategoriaTab">{{ zgloszenia.Kategoria }}</td>
                            <td style="width:9%" class="priorytetTab">{{ zgloszenia.Priorytet }}</td>
                            <td style="width:9%" class="statusTab">{{ zgloszenia.Status }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>

            <div class="sekcjaHistoriaZgloszen" >
                <table class="tabelaZgloszenia" style="">
                    <thead>
                    <tr>
                        <th class="thZgloszenia" style="" scope="row">Nr</th>
                        <th class="thZgloszenia" style="">IdKlienta</th>
                        <th class="thZgloszenia" style="">IdAdres</th>
                        <th class="thZgloszenia" scope="row">Data dodania</th>
                        <th class="thZgloszenia" scope="row">Planowana realizacja</th>
                        <th class="thZgloszenia" scope="row">Adres</th>
                        <th class="thZgloszenia" scope="row">Klient</th>
                        <th class="thZgloszenia" scope="row">Wykonawca</th>
                        <th class="thZgloszenia" scope="row">Kategoria</th>
                        <th class="thZgloszenia" scope="row">Priorytet</th>
                        <th class="thZgloszenia" scope="row">Status</th>
                    </tr>
                    </thead>
                    <tbody class="zgloszeniaTbody">
{#                    {% for zgloszenia in zgloszeniaArr %}#}
{#                        <tr class="zgloszeniaTbodyTr">#}
{#                            <th style="width:4%" class="IdZgloszeniaTab" scope="row">{{ zgloszenia.IdZgloszenia }}</th>#}
{#                            <td style="width:4%" class="IdKlientaTab">{{ zgloszenia.IdKlienta }}</td>#}
{#                            <td style="width:4%" class="IdAdresTab">{{ zgloszenia.IdAdres }}</td>#}
{#                            <td style="width:8%"  class="dataZgloszeniaTab" >{{ zgloszenia.DataDodania }}</td>#}
{#                            <td style="width:15%" class ="planowanaRealizacjaTab">{{ zgloszenia.PlanowanaRealizacja }}</td>#}
{#                            <td style="width:15%" class="adresTab">{{ zgloszenia.Adres }}</td>#}
{#                            <td style="width:15%" class="klientTab">{{ zgloszenia.Nazwa }}</td>#}
{#                            <td style="width:10%" class="wykonawcaTab">{{ zgloszenia.Wykonawca }}</td>#}
{#                            <td style="width:10%" class="kategoriaTab">{{ zgloszenia.Kategoria }}</td>#}
{#                            <td style="width:9%" class="priorytetTab">{{ zgloszenia.Priorytet }}</td>#}
{#                            <td style="width:9%" class="statusTab">{{ zgloszenia.Status }}</td>#}
{#                        </tr>#}
{#                    {% endfor %}#}
                    </tbody>
                </table>
            </div>

            <div class="sekcjaButtonZgloszenia">
                <div class="buttonDodajZgloszenie">
                    <div class="container1" style="height: 3vh;width: 30%;margin-top: 0">
                        <div class="btn1" style="width: 100%;height: 3vh">
                            <button style="width: 9vw;height: 3vh" class="dodajZgloszenie" type ="button">Dodaj zgłoszenie</button>
                        </div>
                    </div>
                </div>
                <div class="buttonHistoriaZgloszen" >
                    <div class="container1" style="height: 3vh;width: 30%;margin-top: 0">
                        <div class="btn1" style="width: 100%;height: 3vh">
                            <button style="width: 9vw;height: 3vh" class="pokazHistorie" type ="button">Historia zgłoszeń</button>
                        </div>
                    </div>
                </div>
            </div>

            <div class="sekcjaButtonHistoria">
                <div class="buttonDodajZgloszenie">
                    <div class="container1" style="height: 3vh;width: 30%;margin-top: 0">
                        <div class="btn1" style="width: 100%;height: 3vh">
                            <button style="width: 9vw;height: 3vh" class="pokazZgloszenia" type ="button">Zgłoszenia</button>
                        </div>
                    </div>
                </div>
            </div>

            <div class="dodawanieZgloszenia" >

                <div class="zamknijSekcje" id="zamknijDodawanieZgloszenia">X</div>

{#                <div class="sectionButtonZgloszenia" style="width:99%;height:5%;border:solid red">#}
{#                    <button style="" id="buttonZapiszZgloszenie" type ="button">Zapisz</button>#}
{#                </div>#}

                <form>

                    <div class="sekcjaDodawaniaZgloszenia" >

                        <div>
                            <div class="field-wrapper-zgloszenia" >
                                <select id="klientDodaj" >
                                    <option selected="selected" typeof="int" value="0"  disabled>--wybierz--</option>
                                        {% for klient in slownikKlienci %}
                                            <option value={{ klient.IdKlienta }}>{{ klient.Nazwa }}</option>
                                        {% endfor %}
                                </select>
                                <div class="field-placeholder-zgloszenia"><span>Klient</span></div>
                            </div>
                            <p class="errorSuccess"></p>
                        </div>

                        <div>
                            <div class="field-wrapper-zgloszenia" >
                                <select id="kategoriaDodaj" >
                                    <option selected="selected" value="0" disabled>--wybierz--</option>
                                        {% for kategoria in slownikKategoria %}
                                            <option value={{ kategoria.IdKategoria }}>{{ kategoria.Opis }}</option>
                                        {% endfor %}
                                </select>
                                <div class="field-placeholder-zgloszenia"><span>Kategoria</span></div>
                            </div>
                            <p class="errorSuccess"></p>
                        </div>

                        <div>
                            <div id="adresDynamiczny" class="field-wrapper-zgloszenia" >
                                <select id="adresDodaj" >
                                    <option selected="selected" value="0" disabled>--wybierz--</option>
{#                                     {% for adres in adresArr %}#}
{#                                        <option value={{ adres.IdAdres }}>{{ adres.Miejscowosc }} </option>#}
{#                                     {% endfor %}#}
                                </select>
                                <div class="field-placeholder-zgloszenia"><span>Adres</span></div>
                            </div>
                            <p class="errorSuccess"></p>
                        </div>

                        <div>
                            <div class="field-wrapper-zgloszenia" >
                                <input  class="" type="text" id="nrLokaluDodaj" placeholder=" " value="" />
                                <div class="field-placeholder-zgloszenia"><span>Nr lokalu</span></div>
                            </div>
                            <div class="errorSuccess"></div>
                        </div>

                        <div>
                            <div class="field-wrapper-zgloszenia" >
                                <input  class="" type="date" id="terminOdDodaj" placeholder=" " value="" />
                                <div class="field-placeholder-zgloszenia"><span>Termin realizacji od</span></div>
                            </div>
                            <div class="errorSuccess"></div>
                        </div>

                        <div>
                            <div class="field-wrapper-zgloszenia" >
                                <input  class="" type="date" id="terminDoDodaj" placeholder=" " value="" />
                                <div class="field-placeholder-zgloszenia"><span>Termin realizacji do</span></div>
                            </div>
                            <div class="errorSuccess"></div>
                        </div>

                        <div>
                            <div class="field-wrapper-zgloszenia" >
                                <input  class="" type="text" id="godzinaOdDodaj" placeholder=" " value="" />
                                <div class="field-placeholder-zgloszenia"><span>Godzina od</span></div>
                            </div>
                            <div class="errorSuccess"></div>
                        </div>

                        <div>
                            <div class="field-wrapper-zgloszenia" >
                                <input  class="" type="text" id="godzinaDoDodaj" placeholder=" " value="" />
                                <div class="field-placeholder-zgloszenia"><span>Godzina do</span></div>
                            </div>
                            <div class="errorSuccess"></div>
                        </div>

                        <div>
                            <div class="field-wrapper-zgloszenia" >
                                <textarea  class=""  id="opisDodaj" placeholder=" " ></textarea>
                                <div class="textarea-field-placeholder-zgloszenia"><span>Opis</span></div>
                            </div>
                            <div class="errorSuccess"></div>
                        </div>

                        <div style="clear: both"></div>

                        <div>
                            <div class="field-wrapper-zgloszenia" >
                                <select id="wykonawcaDodaj" >
                                    <option selected="selected" value="0" disabled>--wybierz--</option>
                                        {% for wykonawca in wykonawcaArr %}
                                    <option value={{ wykonawca.IdUzytkownika }}>{{ wykonawca.Wykonawca }}</option>
                                        {% endfor %}
                                </select>
                                <div class="field-placeholder-zgloszenia"><span>Wybierz wykonawcę</span></div>
                            </div>
                            <p class="errorSuccess"></p>
                        </div>

                        <div>
                            <div class="field-wrapper-zgloszenia" >
                                <select id="priorytetDodaj" >
                                    <option selected="selected" value="0" disabled>--wybierz--</option>
                                        {% for priorytet in slownikPriorytet %}
                                            <option value={{ priorytet.IdPriorytet }}>{{ priorytet.Opis }}</option>
                                        {% endfor %}
                                </select>
                                <div class="field-placeholder-zgloszenia"><span>Priorytet</span></div>
                            </div>
                            <p class="errorSuccess"></p>
                        </div>

                        <div class="sekcjaWykonawca">
                            <table class="tabelaWykonawca" style="">
                                <thead>
                                    <tr>
                                        <th class="thWykonawca" style="display:none" >IdUzytkownika</th>
                                        <th class="thWykonawca" scope="row" >Wykonawca</th>
                                        <th class="thWykonawca">Usuń</th>
                                    </tr>
                                </thead>
                                <tbody class="wykonawcaTbodyDodawanie">
                                    <tr class="wykonawcaTbodyTr">
{#                                        <td  style="display: none" >1000</td>#}
{#                                        <th  class="" scope="row">bartlomiej lewandowski</th>#}
{#                                        <td  class="usunWykonawceTab"><button title="Usuń" class="usunWykonawceButton"><svg class="koszIcons" style="width: 1vw;height: 2vh"></svg></button></td>#}
                                    </tr>
                                </tbody>
                            </table>
                        </div>

                        <div style="float:left;margin-top:1vh;width:21vw;height: 6vh;border:solid black">drop and drag </div>

                        <div style="clear: both"></div>

                        <div class="zapiszZgloszenie">
                            <div class="container1" style="height: 3vh;width: 30%;margin-top: 0;">
                                <div class="btn1" style="width: 100%;height: 3vh">
                                    <button style="width: 9vw;height: 3vh" id="buttonZapiszZgloszenie" type ="button">Zapisz</button>
                                </div>
                            </div>
                        </div>

                    </div>

                </form>
            </div>



            <div class="edytowanieZgloszenia" >

                <div class="zamknijSekcje" id="zamknijEdytowanieZgloszenia">X</div>

                <div class="sectionButtonZgloszenia" style="width:99%;height:5%;border:solid red">
                    <button style="" id="buttonZapiszZgloszenie" type ="button">button</button>
                </div>

                <form>

                    <div class="sekcjaEdytowaniaZgloszenia" >

                        <input id="idZgloszeniaEdycja" type="text" value="" style="display: none"/>

                        <div>
                            <div class="field-wrapper-zgloszenia" >
                                <select id="klientEdytuj" >
                                    <option selected="selected" disabled>--wybierz--</option>
                                    {% for klient in slownikKlienci %}
                                        <option value={{ klient.IdKlienta }}>{{ klient.Nazwa }}</option>
                                    {% endfor %}
                                </select>
                                <div class="field-placeholder-zgloszenia"><span>Klient</span></div>
                            </div>
                            <p class="errorSuccess"></p>
                        </div>

                        <div>
                            <div class="field-wrapper-zgloszenia" >
                                <select id="kategoriaEdytuj" >
                                    <option selected="selected" value=0 disabled>--wybierz--</option>
                                    {% for kategoria in slownikKategoria %}
                                        <option value={{ kategoria.IdKategoria }}>{{ kategoria.Opis }}</option>
                                    {% endfor %}
                                </select>
                                <div class="field-placeholder-zgloszenia"><span>Kategoria</span></div>
                            </div>
                            <p class="errorSuccess"></p>
                        </div>

                        <div>
                            <div id="adresDynamicznyEdycja" class="field-wrapper-zgloszenia" >
                                <select id="adresEdytuj" >
{#                                    <option selected="selected" disabled>--wybierz--</option>#}
{#                                    {% for klient in slownikKlienci %}#}
{#                                        <option value={{ klient.IdKlienta }}>{{ klient.Nazwa }}</option>#}
{#                                    {% endfor %}#}
                                </select>
                                <div class="field-placeholder-zgloszenia"><span>Adres</span></div>
                            </div>
                            <p class="errorSuccess"></p>
                        </div>

                        <div>
                            <div class="field-wrapper-zgloszenia" >
                                <input  class="" type="text" id="nrLokaluEdytuj" placeholder=" " value="" />
                                <div class="field-placeholder-zgloszenia"><span>Nr lokalu</span></div>
                            </div>
                            <div class="errorSuccess"></div>
                        </div>

                        <div>
                            <div class="field-wrapper-zgloszenia" >
                                <input  class="" type="date" id="terminOdEdytuj" placeholder=" " value="" />
                                <div class="field-placeholder-zgloszenia"><span>Termin realizacji od</span></div>
                            </div>
                            <div class="errorSuccess"></div>
                        </div>

                        <div>
                            <div class="field-wrapper-zgloszenia" >
                                <input  class="" type="date" id="terminDoEdytuj" placeholder=" " value="" />
                                <div class="field-placeholder-zgloszenia"><span>Termin realizacji do</span></div>
                            </div>
                            <div class="errorSuccess"></div>
                        </div>

                        <div>
                            <div class="field-wrapper-zgloszenia" >
                                <input  class="" type="text" id="godzinaOdEdytuj" placeholder=" " value="" />
                                <div class="field-placeholder-zgloszenia"><span>Godzina od</span></div>
                            </div>
                            <div class="errorSuccess"></div>
                        </div>

                        <div>
                            <div class="field-wrapper-zgloszenia" >
                                <input  class="" type="text" id="godzinaDoEdytuj" placeholder=" " value="" />
                                <div class="field-placeholder-zgloszenia"><span>Godzina do</span></div>
                            </div>
                            <div class="errorSuccess"></div>
                        </div>

                        <div>
                            <div class="field-wrapper-zgloszenia" >
                                <textarea  class=""  id="opisEdytuj" placeholder=" " ></textarea>
                                <div class="textarea-field-placeholder-zgloszenia"><span>Opis</span></div>
                            </div>
                            <div class="errorSuccess"></div>
                        </div>

                        <div style="clear: both"></div>

                        <div>
                            <div class="field-wrapper-zgloszenia" >
                                <select id="wykonawcaEdytuj" >
                                    <option selected="selected" disabled>--wybierz--</option>
                                    {% for wykonawca in wykonawcaArr %}
                                        <option value={{ wykonawca.IdUzytkownika }}>{{ wykonawca.Wykonawca }}</option>
                                    {% endfor %}
                                </select>
                                <div class="field-placeholder-zgloszenia"><span>Wybierz wykonawcę</span></div>
                            </div>
                            <p class="errorSuccess"></p>
                        </div>

                        <div>
                            <div class="field-wrapper-zgloszenia" >
                                <select id="priorytetEdytuj" >
                                    <option selected="selected" disabled>--wybierz--</option>
                                    {% for priorytet in slownikPriorytet %}
                                        <option value={{ priorytet.IdPriorytet }}>{{ priorytet.Opis }}</option>
                                    {% endfor %}
                                </select>
                                <div class="field-placeholder-zgloszenia"><span>Priorytet</span></div>
                            </div>
                            <p class="errorSuccess"></p>
                        </div>

                        <div class="sekcjaWykonawca">
                            <table class="tabelaWykonawca" style="">
                                <thead>
                                <tr>
                                    <th class="thWykonawca" style="display:none" >IdUzytkownika</th>
                                    <th class="thWykonawca" scope="row" >Wykonawca</th>
                                    <th class="thWykonawca">Usuń</th>
                                </tr>
                                </thead>
                                <tbody class="wykonawcaTbodyEdycja">
                                <tr class="wykonawcaTbodyTr">
                                    {#                                        <td  style="display: none" >1000</td>#}
                                    {#                                        <th  class="" scope="row">bartlomiej lewandowski</th>#}
                                    {#                                        <td  class="usunWykonawceTab"><button title="Usuń" class="usunWykonawceButton"><svg class="koszIcons" style="width: 1vw;height: 2vh"></svg></button></td>#}
                                </tr>
                                </tbody>
                            </table>
                        </div>

                        <div style="float:left;margin-top:1vh;width:21vw;height: 6vh;border:solid black">drop and drag </div>

                        <div style="clear: both"></div>

                        <div class="edytujZgloszenie">
                            <div class="container1" style="height: 3vh;width: 30%;margin-top: 0;">
                                <div class="btn1" style="width: 100%;height: 3vh">
                                    <button style="width: 9vw;height: 3vh" id="buttonEdytujZgloszenie" type ="button">Edytuj</button>
                                </div>
                            </div>
                        </div>

                    </div>

                </form>
            </div>

        </div>

    </main>
    <footer>
        Footer
    </footer>
</section>

</body>
</html>