<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <link rel="stylesheet"  href="{{ asset('css/przyciski.css') }}">
    <link rel="stylesheet"  href="{{ asset('css/budowaStrony.css') }}" >
    <link rel="stylesheet"  href="{{ asset('css/elementyWspolne.css') }}" >
    <link rel="stylesheet"  href="{{ asset('css/stronaKontrahenci.css') }}" >
    <script src="{{ asset('js/stronaKontrahenci.js') }}" async></script>

    <title>Strona Kontrahenci</title>
</head>
<body>


<section>
    <header>
        {% include 'globalHtml/naglowek.html.twig' %}
    </header>
    <nav>
        {% include 'globalHtml/menuGorne.html.twig' %}
    </nav>
    <aside>
        {% include 'globalHtml/menuBoczne.html.twig' %}
    </aside>
    <main>
        <input style="display: none" id="baseUrl" type="text" value={{ baseUrl }} />

        <div id="glownaSekcjaMain">

            <div class="sekcjaFiltrow" style="position: absolute;margin-left: 2%">
                <form>
                    <div style="width:10vw;float: left">
                        <div class="field-wrapper" >
                            <input  class="filtrKontrahent" type="text" id="nazwaFiltr" placeholder=" " value="" />
                            <div class="field-placeholder"><span>Nazwa</span></div>
                        </div>
                    </div>
                    <div style="width:10vw;float: left">
                        <div class="field-wrapper" >
                            <input  class="filtrKontrahent" type="text" id="nipFiltr" placeholder=" " value="" />
                            <div class="field-placeholder"><span>NIP</span></div>
                        </div>
                    </div>
                    <div style="width:10vw;float: left">
                        <div class="field-wrapper" >
                            <select class="filtrKontrahent" id="podmiotFiltr">
                                <option selected="selected" disabled>--wybierz--</option>
                                {% for podmiot in podmiotArr %}
                                    <option id="podmiotOpcjeEdycja" value="{{ podmiot.Opis }}">{{podmiot.Opis}}</option>
                                {% endfor %}
                            </select>
                            <div class="field-placeholder"><span>Podmiot</span></div>
                        </div>
                    </div>

                    <div style="margin-left:1vw;width: 3vw;height:4.5vh;margin-top: 2vh;float: left">
                        <button style="" id="wyczysc" type ="reset"><svg class="wyczyscIcons"></svg></button>
                    </div>

                </form>
            </div>

            <div class="tableRaportKontrahenci">
                <table class="reportTableKontrahenci">
                    <thead>
                        <tr>
                            <th class="thKontrahenci" style="display: none" scope="row">Id Kontrahenta</th>
                            <th class="thKontrahenci" scope="row">Nazwa</th>
                            <th class="thKontrahenci" scope="row">NIP</th>
                            <th class="thKontrahenci" scope="row">Podmiot</th>
                            <th class="thKontrahenci" style="display:none" scope="row">idPodmiot</th>
                            <th class="thKontrahenci" scope="row">Adres</th>
                            <th class="thKontrahenci" scope="row">Kontakt</th>
                            <th class="thKontrahenci" scope="row">Usuń</th>
                        </tr>
                    </thead>
                    <tbody class="resultsBody">
                    {% for daneKontrahenta in daneKontrahentowArr %}
                        <tr class="daneKontrahentaPokaz">
                            <td style="display: none" class="IdKlienta">{{ daneKontrahenta.IdKlienta }}</td>
                            <th class="nazwaTab" scope="row">{{daneKontrahenta.Nazwa}}</th>
                            <td class ="nipTab">{{daneKontrahenta.NIP}}</td>
                            <td class="podmiotTab">{{daneKontrahenta.Opis}}</td>
                            <td style="display:none" class="podmiotIdTab">{{daneKontrahenta.IdPodmiot}}</td>
                            <td style="" class="daneAdresoweTab"><button title="Adresy" style="" class="pokazAdresButton"><svg class="earthIcon"></svg></button></td>
                            <td style="" class="daneKontaktoweTab"><button title="Kontakty" class="pokazKontaktButton"><svg class="telefonIcons"></svg></button></td>
                            <td style="" class="usunKontrahentaTab"><button title="Usuń" class="usunKontrahentaButton"><svg class="koszIcons" ></svg></button></td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>

            <div class="dodawanieKontrahenta" style=" box-shadow: 0 15px 35px rgba(0,0,0,0.2);border-left:1px solid rgb(212, 210, 210);width: 24%;max-height:57%;margin-left:60%;margin-top:5%;position: absolute;overflow-y: scroll">

                <div class="zamknijSekcje" id="zamknijDodawanieKontrahenta">X</div>

                <form id="formKontrahenciDodawanie" style="">

                    <div id="test" style="width:15vw;float: left;">
                        <div class="field-wrapper" >
                            <input  class="" type="text" id="nazwa" placeholder=" " value="" />
                            <div class="field-placeholder"><span>Nazwa</span></div>
                        </div>
                        <div class="errorSuccess"></div>
                    </div>
                    <div style="width:15vw;float: left">
                        <div class="field-wrapper" >
                            <input  class="" type="text" id="nip" placeholder=" " maxlength="10" />
                            <div class="field-placeholder"><span>NIP</span></div>
                        </div>
                        <p class="errorSuccess"></p>
                    </div>
                    <div style="width:15vw;float: left">
                        <div class="field-wrapper" >
                            <select id="podmiot" >
                                <option selected="selected" value="0" disabled>--wybierz--</option>
                                {% for podmiot in podmiotArr %}
                                    <option value="{{ podmiot.IdPodmiot }}">{{podmiot.Opis}}</option>
                                {% endfor %}
                            </select>
                            <div class="field-placeholder"><span>Podmiot</span></div>
                        </div>
                        <p class="errorSuccess"></p>
                    </div>

                    <div style="margin-left:1vw;width: 10vw;height:4vh;margin-top: 2vh;float: left;">
                        <div class="container1" style="height: 3vh;width: 30%;margin-top: 0">
                            <div class="btn1" style="width: 100%;height: 3vh">
                                <button style="width: 9vw;height: 3vh" id="zapiszDanePodstawowe" type ="button">Zapisz</button>
                            </div>
                        </div>
                    </div>

                </form>
            </div>

            <div style="margin-left:2vw;width: 30vw;height:4vh;margin-top: 72vh;float: left;">
                <div class="container1" style="height: 3vh;width: 30%;margin-top: 0">
                    <div class="btn1" style="width: 100%;height: 3vh">
                        <button style="width: 9vw;height: 3vh" class="dodajKontrahenta" type ="button">dodaj kontrahenta</button>
                    </div>
                </div>
            </div>

            <div class="edycjaKontrahenta"  style="box-shadow: 0 15px 35px rgba(0,0,0,0.2);border-left:1px solid rgb(212, 210, 210);width: 24%;max-height:57%;margin-left:60%;margin-top:5%;position: absolute;overflow-y: scroll">
                <form id="formKontrahenciEdycja" style="">

                    <div class="zamknijSekcje"  id="zamknijEdycjeKontrahenta">X</div>

                    <input id="idKontrahentaEdycja" type="text" value="" style="display: none"/>

                    <div style="width:15vw;float: left">
                        <div class="field-wrapper" >
                            <input id="nazwaEdycja" class="" type="text" placeholder=" " value="" />
                            <div class="field-placeholder"><span>Nazwa</span></div>
                        </div>
                        <div class="errorSuccess"></div>
                    </div>
                    <div style="width:15vw;float: left">
                        <div class="field-wrapper" >
                            <input id="nipEdycja"  class="" type="text" placeholder=" " maxlength="10"/>
                            <div class="field-placeholder"><span>NIP</span></div>
                        </div>
                        <div class="errorSuccess"></div>
                    </div>
                    <div style="width:15vw;float: left">
                        <div class="field-wrapper" >
                            <select id="podmiotEdycja">
                                <option selected="selected" disabled>--wybierz--</option>
                                {% for podmiot in podmiotArr %}
                                    <option id="podmiotOpcjeEdycja" value="{{ podmiot.IdPodmiot }}">{{podmiot.Opis}}</option>
                                {% endfor %}
                            </select>
                            <div class="field-placeholder"><span>Podmiot</span></div>
                        </div>
                        <div class="errorSuccess"></div>
                    </div>

                    <div style="margin-left:1vw;width: 10vw;height:4vh;margin-top: 2vh;float: left;">
                        <div class="container1" style="height: 3vh;width: 30%;margin-top: 0">
                            <div class="btn1" style="width: 100%;height: 3vh">
                                <button style="width: 9vw;height: 3vh" id="edycjaDanychPodstawowych" type ="button">Edytuj</button>
                            </div>
                        </div>
                    </div>

                </form>
            </div>

            <div class="dodawanieAdresow" style="z-index: 1; box-shadow: 0 15px 35px rgba(0,0,0,0.2);border-left:1px solid rgb(212, 210, 210);width: 24%;height:57%;margin-left:60%;margin-top:5%;position: absolute;overflow-y: scroll">
                <form id="formKontrahenciDodawanieAdresow" style="">

                    <div class="zamknijSekcje"  id="zamknijDodawanieAdresow">X</div>

                    <div id="nazwaKontrahentaAdres" style="color: rgba(0, 60, 125,0.8); font-size: 14px; margin-top: 2vh"></div>

                    <div id="wyswietlDaneAdresowe">
                        <div id="tabelaAdresow" class="tableRaportKontrahenci" style="max-width:95%;max-height: 70%">
                            <table class="reportTableKontrahenci" style="width:100%;">
                                <thead>
                                <tr>
                                    <th class="thKontrahenci" style="display: none" scope="row">Id Kontrahenta</th>
                                    <th class="thKontrahenci" style="display:none" scope="row">Id Adres</th>
                                    <th class="thKontrahenci" style="display:none" scope="row">Miejscowość</th>
                                    <th class="thKontrahenci" style="display:none" scope="row">Ulica</th>
                                    <th class="thKontrahenci" style="display:none" scope="row">Nr Budynku</th>
                                    <th class="thKontrahenci" style="" scope="row">Adres</th>
                                    <th class="thKontrahenci" style="" scope="row">Edytuj</th>
                                    <th class="thKontrahenci" style="" scope="row">Usuń</th>
                                </tr>
                                </thead>
                                <tbody style="" class="resultsBodyAdres">

                                </tbody>
                            </table>
                        </div>
                        <div class="brakDanych" style="display:none; margin-top:13vh; font-size: 20px">Brak danych</div>

                        <div id="dodajDaneAdresowe" style="margin-left:1vw;width: 10vw;height:4vh;margin-top: 46vh;float: left;">
                            <div class="container1" style="height: 3vh;width: 30%;margin-top: 0">
                                <div class="btn1" style="width: 100%;height: 3vh">
                                    <button style="width: 9vw;height: 3vh" id="dodajDaneAdresoweButton" type ="button">Dodaj</button>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div id="sekcjaDodawaniaAdresu" style="height: 30vh;width:18vw;position: absolute;margin-top: 5vh;margin-left: 5vh">


                        <input style="display: none" class="pobierzIdKlienta" type="text" value="" />

                        <div style="width:15vw;float: left">
                            <div class="field-wrapper" >
                                <input id="miejscowoscDodaj" class="" type="text" placeholder=" " value="" />
                                <div class="field-placeholder"><span>Miejscowość</span></div>
                            </div>
                            <div class="errorSuccess"></div>
                        </div>
                        <div style="width:15vw;float: left">
                            <div class="field-wrapper" >
                                <input id="ulicaDodaj"  class="" type="text" placeholder=" " />
                                <div class="field-placeholder"><span>Ulica</span></div>
                            </div>
                            <div class="errorSuccess"></div>
                        </div>
                        <div style="width:15vw;float: left">
                            <div class="field-wrapper" >
                                <input id="nrBudynkuDodaj"  class="" type="text" placeholder=" " />
                                <div class="field-placeholder"><span>Nr budynku</span></div>
                            </div>
                            <div class="errorSuccess"></div>
                        </div>

                        <div id="zapiszDaneAdresowe" style="margin-left:1vw;width: 10vw;height:4vh;margin-top: 2vh;float: left;">
                            <div class="container1" style="height: 3vh;width: 30%;margin-top: 0">
                                <div class="btn1" style="width: 100%;height: 3vh">
                                    <button style="width: 9vw;height: 3vh" id="zapiszDaneAdresoweButton" type ="button">Zapisz</button>
                                </div>
                            </div>
                        </div>

                    </div>

                    <div id="sekcjaEdycjiAdresu" style="height: 30vh;width:18vw;position: absolute;margin-top: 5vh;margin-left: 5vh">


                        <input type="text" value="" class="pobierzIdAdres" style="display:none"/>
                        <input style="display: none" class="pobierzIdKlienta" type="text" value="" />

                        <div style="width:15vw;float: left">
                            <div class="field-wrapper" >
                                <input id="miejscowoscEdytuj" class="" type="text" placeholder=" " value="" />
                                <div class="field-placeholder"><span>Miejscowość</span></div>
                            </div>
                            <div class="errorSuccess"></div>
                        </div>
                        <div style="width:15vw;float: left">
                            <div class="field-wrapper" >
                                <input id="ulicaEdytuj"  class="" type="text" placeholder=" " value="" />
                                <div class="field-placeholder"><span>Ulica</span></div>
                            </div>
                            <div class="errorSuccess"></div>
                        </div>
                        <div style="width:15vw;float: left">
                            <div class="field-wrapper" >
                                <input id="nrBudynkuEdytuj"  class="" type="text" placeholder=" " value="" />
                                <div class="field-placeholder"><span>Nr budynku</span></div>
                            </div>
                            <div class="errorSuccess"></div>
                        </div>

                        <div id="edytujDaneAdresowe" style="margin-left:1vw;width: 10vw;height:4vh;margin-top: 2vh;float: left;">
                            <div class="container1" style="height: 3vh;width: 30%;margin-top: 0">
                                <div class="btn1" style="width: 100%;height: 3vh">
                                    <button style="width: 9vw;height: 3vh" id="edytujDaneAdresoweButton" type ="button">Edytuj</button>
                                </div>
                            </div>
                        </div>

                    </div>

                </form>
            </div>

            <div class="dodawanieKontaktow" style="z-index: 1; box-shadow: 0 15px 35px rgba(0,0,0,0.2);border-left:1px solid rgb(212, 210, 210);width: 24%;height:57%;margin-left:60%;margin-top:5%;position: absolute;overflow-y: scroll">
                <form id="formKontrahenciDodawanieKontaktow" style="">

                    <div class="zamknijSekcje"  id="zamknijDodawanieKontaktow">X</div>

                    <div id="nazwaKontrahentaKontakt" style="color: rgba(0, 60, 125,0.8); font-size: 14px; margin-top: 2vh"></div>

                    <div id="wyswietlDaneKontaktowe">
                        <div id="tabelaKontaktow" class="tableRaportKontrahenci" style="max-width:95%;max-height: 70%">
                            <table class="reportTableKontrahenci" style="width:100%;">
                                <thead>
                                <tr>
                                    <th class="thKontrahenci" style="display: none" scope="row">Id Kontrahenta</th>
                                    <th class="thKontrahenci" style="display:none" scope="row">Id Kontakt</th>
                                    <th class="thKontrahenci" style="" scope="row">Telefon</th>
                                    <th class="thKontrahenci" style="" scope="row">Email</th>
                                    <th class="thKontrahenci" style="" scope="row">Edytuj</th>
                                    <th class="thKontrahenci" style="" scope="row">Usuń</th>
                                </tr>
                                </thead>
                                <tbody class="resultsBodyKontakt">

                                </tbody>
                            </table>
                        </div>
                        <div class="brakDanych" style="display:none; margin-top:13vh; font-size: 20px">Brak danych</div>

                        <div id="dodajDaneKontaktowe" style="margin-left:1vw;width: 10vw;height:4vh;margin-top: 46vh;float: left;">
                            <div class="container1" style="height: 3vh;width: 30%;margin-top: 0">
                                <div class="btn1" style="width: 100%;height: 3vh">
                                    <button style="width: 9vw;height: 3vh" id="dodajDaneKontaktoweButton" type ="button">Dodaj</button>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div id="sekcjaDodawaniaKontaktu" style="height: 30vh;width:18vw;position: absolute;margin-top: 5vh;margin-left: 5vh">


                        <input style="display: none" class="pobierzIdKlienta" type="text" value="" />

                        <div style="width:15vw;float: left">
                            <div class="field-wrapper" >
                                <input id="telefonDodaj" class="" type="text" placeholder=" " value="" />
                                <div class="field-placeholder"><span>Telefon</span></div>
                            </div>
                            <div class="errorSuccess"></div>
                        </div>
                        <div style="width:15vw;float: left">
                            <div class="field-wrapper" >
                                <input id="emailDodaj"  class="" type="text" placeholder=" " />
                                <div class="field-placeholder"><span>Email</span></div>
                            </div>
                            <div class="errorSuccess"></div>
                        </div>

                        <div id="zapiszDaneKontaktowe" style="margin-left:1vw;width: 10vw;height:4vh;margin-top: 2vh;float: left;">
                            <div class="container1" style="height: 3vh;width: 30%;margin-top: 0">
                                <div class="btn1" style="width: 100%;height: 3vh">
                                    <button style="width: 9vw;height: 3vh" id="zapiszDaneKontaktoweButton" type ="button">Zapisz</button>
                                </div>
                            </div>
                        </div>

                    </div>

                    <div id="sekcjaEdycjiKontaktu" style="height: 30vh;width:18vw;position: absolute;margin-top: 5vh;margin-left: 5vh">


                        <input type="text" value="" class="pobierzIdKontakt" style="display:none"/>
                        <input style="display: none" class="pobierzIdKlienta" type="text" value="" />

                        <div style="width:15vw;float: left">
                            <div class="field-wrapper" >
                                <input id="telefonEdytuj" class="" type="text" placeholder=" " value="" />
                                <div class="field-placeholder"><span>Telefon</span></div>
                            </div>
                            <div class="errorSuccess"></div>
                        </div>
                        <div style="width:15vw;float: left">
                            <div class="field-wrapper" >
                                <input id="emailEdytuj"  class="" type="text" placeholder=" " value="" />
                                <div class="field-placeholder"><span>Email</span></div>
                            </div>
                            <div class="errorSuccess"></div>
                        </div>

                        <div id="edytujDaneKontaktowe" style="margin-left:1vw;width: 10vw;height:4vh;margin-top: 2vh;float: left;">
                            <div class="container1" style="height: 3vh;width: 30%;margin-top: 0">
                                <div class="btn1" style="width: 100%;height: 3vh">
                                    <button style="width: 9vw;height: 3vh" id="edytujDaneKontaktoweButton" type ="button">Edytuj</button>
                                </div>
                            </div>
                        </div>

                    </div>

                </form>
            </div>

        </div>
    </main>
    <footer>
        Footer
    </footer>
</section>

</body>
</html>